body {
  margin: 0;
  font-family: "Nunito";
}

* {
  font-family: "Nunito";
}

a {
  &:hover,
  &,
  &:visited {
    color: #000;
  }
}

.list-style-none {
  list-style: none;
}

.bs-primary {
  background-color: var(--primary);
}

img {
  max-width: 100%;
}

ion-content {
  min-height: calc(100vh - 22rem);
}

ion-button::part(native) {
  box-shadow: 4px 4px 0px -1px #896af9;
  padding: 1.3rem 1.5rem;
  border-radius: 24px;
  color: var(--primary);
  background-color: #fff;
  border-color: var(--primary);
  font-weight: 900;
  font-size: 1.1rem;
}

.text-gray {
  color: var(--gray);
}

ion-select,
.input-fill-outline.sc-ion-input-md-h {
  --border-color: var(
    --ion-color-step-300,
    var(--ion-background-color-step-300, #d0d5dd)
  );

  --border-radius: 0.5rem;
  min-height: 44px;
}

ion-item {
  &::part(native) {
    border-radius: 0.5rem;
    border: 1px solid #d0d5dd;

    padding: 0 1rem;
  }

  &.rounded {
    &::part(native) {
      border-radius: 1.5rem;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

ion-radio {
  &::part(container) {
    border: 2px solid var(--light-gray);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    &::before {
      content: "\2713";
      font-weight: 900;
      color: var(--light-gray);
    }
  }

  &::part(mark) {
    display: none;
  }

  &.radio-checked::part(container) {
    border-color: var(--primary);

    &::before {
      content: "\2713";
      color: var(--primary);
    }
  }
}

ion-checkbox {
  border: 1px solid var(--light-gray);
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  box-shadow: 0px 1px 2px 0px #1018280d;

  &::part(container) {
    display: none;
  }

  &::part(label) {
    margin: 0 1rem;
  }

  &.checkbox-checked {
    border: 1px solid var(--dark-primary);
    background-color: var(--bg-light-primary);
    color: var(--dark-primary);
  }
}

ion-item {
  --border-color: transparent;
  --inner-padding-end: 0;
}
