@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/nunito/Nunito-Medium.eot');
  src: url('../assets/fonts/nunito/Nunito-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/nunito/Nunito-Medium.woff2') format('woff2'),
      url('../assets/fonts/nunito/Nunito-Medium.woff') format('woff'),
      url('../assets/fonts/nunito/Nunito-Medium.ttf') format('truetype'),
      url('../assets/fonts/nunito/Nunito-Medium.svg#Nunito-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

