// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-default-font: "Nunito", sans-serif;
  --primary: #ab95f9;
  --light-yellow: #fff9e6;
  --light-primary: #f1edfe;
  --gray: #838383;
  --border-radius: 0.5rem;
  --light-gray: #d0d5dd;
  --bg-light-primary: #f4f1fe;
  --dark-primary: #6633ff;
}
